--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: announcements; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.organizations (id, name, email, phone, address, site, created_at, start_date) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: cafe_orders; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: menu_categories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: menu_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: cafe_order_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: meeting_rooms; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.meeting_rooms (id, name, description, capacity, credit_cost_per_hour, amenities, image_url, is_available, site, created_at) FROM stdin;
2	Meeting Room B	Small meeting room for team discussions	6	3	{Whiteboard,WiFi}	\N	t	blue_area	2025-07-05 16:28:31.332347
3	Executive Suite	Premium meeting space	8	8	{Projector,Whiteboard,WiFi,"Coffee Machine"}	\N	t	i_10	2025-07-05 16:28:31.332347
1	Conference Room A	Large conference room with projector	12	5	{Projector,Whiteboard,WiFi}		t	blue_area	2025-07-05 16:28:31.332347
\.


--
-- Data for Name: meeting_bookings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: announcements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.announcements_id_seq', 11, true);


--
-- Name: cafe_order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.cafe_order_items_id_seq', 110, true);


--
-- Name: cafe_orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.cafe_orders_id_seq', 54, true);


--
-- Name: meeting_bookings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.meeting_bookings_id_seq', 43, true);


--
-- Name: meeting_rooms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.meeting_rooms_id_seq', 3, true);


--
-- Name: menu_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.menu_categories_id_seq', 11, true);


--
-- Name: menu_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.menu_items_id_seq', 29, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 43, true);


--
-- PostgreSQL database dump complete
--

